.Rproj.user
writeups/*.pdf
.Rhistory
.RData
.Ruserdata
*.RData
*.rdb
*.jar
*.exe
*.md
*_cache*
*reading*
*meeting_screenshots*
thesis.Rproj
*.log
jills_code*
presentations
presentations/*
*_files
data/ACURE-UKESM1-PPE-par-norm-Design.csv
data/ACURE_P3_AOD_Total_jul.nc
*.docx
images
*.png
writeups/MSc_Dissertation
objects_archived